body {
  background-color: #2d3040;
  color: #f4f2ec;
  margin:0;
  padding:0;
  font-size:14px;
  overflow:hidden;
}
/* #runButton { */
/*   appearance: none; */
/*   outline: none; */
/*   border:none; */
/*   background: #27ae60; */
/*   color: white; */
/*   cursor: pointer; */
/*   border-radius: 5px; */
/*   font-size: 20px; */
/*   width: 24px; */
/*   height:26px; */
/*   vertical-align: top; */
/*   padding:0; */
/*   margin:0; */
/* } */
#toolbar button {
  appearance: none;
  outline: none;
  border:none;
  background: none;
  /* border: 1px solid gray; */
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  width: 24px;
  height:26px;
  vertical-align: top;
  padding:0;
  margin:0;
}
/* #flexContainer { */
/*   display: flex; */
/*   flex-direction: column; */
/*   height: 100vh; */
/* } */
/* #flexContainer > * { */
/*   flex: 1; */
/*   padding: 0px; */
/*   border: 1px solid gray; */
/*   overflow:scroll; */
/* } */
#flexContainer {
  height:100vh;
  display: grid;
  grid-template-rows: 1fr 30px 1fr;
}
#flexContainer > div {
  /* border: 1px solid white; */
}
.gutter-row {
  grid-column: 1/-1;
  cursor: row-resize;
}
.gutter-row-1 {
  grid-row: 2;
}
#editor {
  min-height:0;
}
.cm-editor {
  height: 100%;
  min-height:0;
}
#toolbar {
  background-color: #2d3040;
  overflow:hidden;
  border: 1px solid gray;
}
#output {
  min-height:0;
}
#output > *{
  height:100%;
}
