body {
  background-color: #2d3040;
  color: #f4f2ec;
  margin:0;
  padding:0;
  font-size:16px;

}
/* #runButton { */
/*   appearance: none; */
/*   outline: none; */
/*   border:none; */
/*   background: #27ae60; */
/*   color: white; */
/*   cursor: pointer; */
/*   border-radius: 5px; */
/*   font-size: 20px; */
/*   width: 24px; */
/*   height:26px; */
/*   vertical-align: top; */
/*   padding:0; */
/*   margin:0; */
/* } */
#toolbar button {
  appearance: none;
  outline: none;
  border:none;
  background: none;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  width: 24px;
  height:26px;
  vertical-align: top;
  padding:0;
  margin:0;
}
#flexContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#flexContainer > * {
  flex: 1;
  padding: 0px;
  border: 1px solid gray;
  overflow:scroll;
}
.cm-editor {
  height: 100%;
}
#toolbar {
  flex: 0 0 auto;
  background-color: #2d3040;
  overflow:hidden;
}
#output {
  flex-grow: 0.5;
}
